html {
	box-sizing: border-box;
}

*,
* : before,
* : after {
	box-sizing: inherit;
}

body {
	background-color: #fbfbf1;
	margin: 1em;
}

.container {
	width: 75%;
	margin: auto;
	margin-top: 1em;
	padding: 0.75em;
	background-color: #a3c2c2;
	border-radius: 5px;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	font-size: 1.25em;
}

.gray {
	color: #61666b;
}
